[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>


<div class="section" id="vue-target" v-cloak>

  <div v-if="add_mode" class="container block">
    <div class="title">Add Post</div>
    <div class="form">

      <!-- This looks like a form, but is not.  We just need the inputs. -->
      <div class="field">
        <label class="label">User:</label>
        <div class="control">
          <input type="text" v-model="add_first_name" class="input">
        </div>
      </div>
      <div class="field">
        <label class="label">Caption:</label>
        <div class="control">
          <input type="text" v-model="add_last_name" class="input">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input type="submit" @click="add_contact" value="Add" class="button is-primary">
          <input type="submit" @click="set_add_status(false)" value="Cancel" class="button is-warning">
        </div>
      </div>
    </div>
  </div>

<!-- display the home page post -->
  <div class="container block">
    <h1 class="title">Home page</h1>
    <table class="table is-striped is-fullwidth">
      <tr>
        <th></th>
        <th>User</th>
        <th>Caption</th>
        <th></th>
      </tr>
      <tr v-for="r in rows">
        <td>

          <div v-if="!r.thumbnail">
            <p class="control">
              <div class="file is-info">
                <label class="file-label">
                  <input class="file-input" type="file"
                         accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
                         @change="upload_file($event, r._idx)">
                  <span class="file-cta">
                    <span class="file-label">
                      <span><i class="fa fa-upload"></i></span>
                    </span>
                  </span>
                </label>
              </div>
            </p>
          </div>

          <img v-if="r.thumbnail" width="400" :src="r.thumbnail" />

        </td>
        <td v-for="fn in ['first_name', 'last_name']">
          <div class="control" :class="{'is-loading': r._state[fn] === 'pending'}" >
            <input type="text" class="input" v-model="r[fn]"
              :class="{
                'is-focused': r._state[fn] === 'edit',
                'is-static': r._state[fn] === 'clean',
              }"
              :readonly="r._state[fn] === 'clean'"
              @click="start_edit(r._idx, fn)"
              @blur="stop_edit(r._idx, fn)"
            />
          </div>
        </td>
        <td><button @click="delete_contact(r._idx)" class="button is-danger">
          <i class="fa fa-trash"></i>delete</button></td>
      </tr>
    </table>
    <button @click="set_add_status(true)" class="button is-primary">
      <i class="fa fa-plus fa-fw"></i> Add post
    </button>
  </div>

  <!-- display the comments and likes -->
  <div class="section" id="vue-target" v-cloak>
  <div class="container">
     <a class="button is-success" href="[[=URL('add')]]">
    <span class="icon"><i class="fa fa-plus"></i></span>
    <span>Comments</span>
  </a>
    <table class="table is-striped is-fullwidth">
      <tbody>
        [[for row in post:]]
        <tr>
          <th>Post</th>
          <td>[[=row.id]]</td>
          <th>Post Caption</th>
          <td>[[=row.user_name]]</td>
          <th>Likes</th>
          <td>[[=row.like]]</td>
          <td>
            <a class="button" href="[[=URL('edit', row.id)]]">
              <span class="icon"><i class="fa fa-fw fa-pencil"></i></span> <span>Edit</span>
            </a>
            <a class="button" href="[[=URL('inc', row.id)]]">
              <span>+1</span>
            </a>
            <a class="button" href="[[=URL('delete', row.id)]]">
              <span>Delete</span>
            </a>
          </td>
        </tr>
        [[pass]]
      </tbody>
    </table>
  </div>
</div>

  <!--
<div class="section" id="vue-target" v-cloak>
  <div class="field">
    <p class="control has-icons-right">
      <input class="input" type="text" placeholder="Search users" v-model="search" @input="search_users">
      <span class="icon is-small is-right clickable" @click="clear_search">
        <i class="fa fa-times-circle"></i>
      </span>
    </p>
  </div>

  <div class="field has-addons" v-for="user in users">
    <p class="control">
      <button class="button">
        <span>{{ user.username }}</span>
      </button>
    </p>
    <p class="control">
      <button @click="following[user.id] ? unfollow(user.id) : follow(user.id)" class="button" :class="{'is-success': following[user.id], 'is-danger': !following[user.id]}">
        <span class="icon is-small">
          <i :class="{'fa fa-times': following[user.id], 'fa fa-check': !following[user.id]}"></i>
        </span>
        <span>{{ following[user.id] ? 'Follow' : 'Unfollow' }}</span>
      </button>
    </p>
  </div>
</div>

-->



[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let get_users_url = "[[=XML(get_users_url)]]";
  let follow_url = "[[=XML(follow_url)]]";
  let load_contacts_url = "[[=XML(load_contacts_url)]]";
  let add_contact_url = "[[=XML(add_contact_url)]]";
  let delete_contact_url = "[[=XML(delete_contact_url)]]";
  let edit_contact_url = "[[=XML(edit_contact_url)]]";
  let upload_thumbnail_url = "[[=XML(upload_thumbnail_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]